<div class="card">
    <div class="card-body">
       <h4 class="card-title bg-info text-white p-2">{{project.name | titlecase }}
           <span [ngClass]="taskFound ? 'show':'hide'" class="badge rounded-pill float-end bg-dark">Kalan görev: {{incompletedTasksCount}}</span>
       </h4>
       <p class="card-text"> {{project.description}} </p>
       <p class="card-text">{{project.startedDate | date:'dd MMMM yyyy'}}</p>
       <p class="card-text">{{project.completedPercent | percent}}</p>
       <app-task-list [tasks]="project.tasks"></app-task-list>       
    </div>
</div>
